<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/pdf_style.css">
</head>
<body class="align-center-text  iran-sans rtl flex margin20px-0-10">
<div class="flex column break-before align-center-text margin20px-0-10">
    <a href="https://www.mehrtakhfif.com" class="align-center-text logo">
        <div class="flex center">
            <img src="https://api.mehrtakhfif.com/static/mtIcon.svg" id="logo"/>
            <img src="https://api.mehrtakhfif.com/static/mtTypo.svg" id="typo"/>
        </div>
        www.mehrtakhfif.com
    </a>
    <div class="center align-center-text">
        <div class="flex1 rtl title">
            {{ title }}
        </div>
    </div>
    <div class="center margin-t-2cm align-center-text">
        <div class="center align-center-text" dir="rtl">
            <span>خریدار:</span>
            <span>{{ user }}</span>
        </div>
        <div class="center font-weight600 font-size16 margint-05cm" dir="rtl">
            <span class=" font-weight500 font-size17 padding-left2px">قیمت محصول :</span>
            <span class=" font-weight500 font-size24">{{price}}</span>
            <span class=" font-weight400 font-size14">تومان</span>
        </div>
    </div>
    <div class="row column align-center-text padding-t05cm">
        <h3 class="center code-sell align-center-text">
            کد خریداری
            شده:</h3>
        <p class="code-cell-line"/>
        <div class="display_block align-center-text code">
            <span class="center ltr">{{ code }}</span>
        </div>
        <p class="code-cell-line"/>
    </div>
    <div class="flex column align-right-text" dir="rtl">
        {% if product_description %}
        <p class="right align-right-text font-size16 font-weight500 display_block align-flex-end-text">
            توضیحات: {{ product_description }} </p>
        {% endif %}
        {% if storage_description %}
        <p class="right align-right-text display_block font-size16 font-weight500 align-flex-end-text">
             توضیحات: {{ storage_description|safe }}</p>
        {% endif %}
    </div>
</div>
{#<p class="break-after margin20px-0-10 code-cell-line"/>#}

</body>
</html>
